.magnific-video {
    max-width: 600px !important;
    padding: 0px 0px 0px 0px !important;
}
.video-container iframe {
    width: 100%;
    height: 100%;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    max-width: 600px;
    height: 0;
    overflow: hidden;
    background:#000;
}
.video-popup {
	position: relative;
    display: inline-block;
    max-width:350px;
    width:100%;
}
#popup-img {
    z-index: 9;
    width:100%;
}
#play {
    position: absolute;
top: 50%;
left: 50%;
width: 70px;
height: 70px;
color: rgba(255,255,255,1);
font-size: 4rem;
margin: -35px 0 0 -35px;
z-index: 10;
text-align: center;
border-radius: 50%;
border: 5px solid #fff;
-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
opacity:.7;
-moz-transition:all 1s;
	-webkit-transition:all 1s;
	transition:all 1s;
}

#play i {
    font-size: 3rem;
line-height: 4.5rem;
width: 75px;
text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
-moz-transition:all 1s;
	-webkit-transition:all 1s;
	transition:all 1s;
}
.video-popup:hover #play {
	opacity: 1;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}
.video-popup:hover #play i {
    text-shadow: 0px 0px 0px rgba(0,0,0,.75);
    cursor:pointer;

}
.video-popup img {
	opacity:1;
	-moz-transition:all 1s;
	-webkit-transition:all 1s;
	transition:all 1s;
}
.video-popup:hover img {
	opacity:.7;
}